<div class = "row">
  <div class = "columns large-10">
    <h2>Admins</h2>
  </div>
</div>
<div class = "row small-up-2 medium-up-3 large-up-4 user-roll">
  <% @admins.each do |user| %>
  <div class = "column column-block">
    <div class= "user-avatar">
      <%= image_tag user.avatar.url(:thumb) %>
    </div>
    <div class = "user-name">
      <%= user.username %>
    </div>
  </div>
  <% end %>
</div>



<div class = "row">
  <div class = "columns large-10">
    <h2>Users</h2>
  </div>
</div>
<div class = "row small-up-2 medium-up-3 large-up-5 user-roll">
  <% @users.each do |user| %>
  <div class = "column column-block">
    <div class= "user-avatar">
      <%= image_tag user.avatar.url(:thumb) %>
    </div>
    <div class = "user-name">
      <%= user.username %>
    </div>
  </div>
  <% end %>
</div>
