<% provide(:page_title, "FLAGS") %>
<% provide(:about_active, "highlighted") %>
<div class = "row text-center">
  <div class = "columns large-10 large-offset-1"style="padding-bottom:10px;">
    <h2 class="about-title">关于这个项目</h2>
    <div class="text-left about-text">
      <h2 class="first"><a id="_0"></a>前言</h2>
      <p>这篇文章只谈情怀，不谈技术。<br/><br/>
      与本平台搭建有关的技术文档请移步<a href="https://github.com/zhileiz/tieba" target="_blank">github项目页</a>，目前所有代码已<strong>全部开源</strong>，说明文档将逐步补齐，未来本平台的所有代码也继续全部开源，欢迎贡献和指导。</p>
      <blockquote>
      <p>SAAS是个好东西，每个圈子都应该有一个 —— 帕赫柳夫斯基</p>
      </blockquote>
      <h2><a id="_4"></a>背景：为什么要做</h2>
      <p>SFLS201602自成立到毕业，七年间在信息委员Tpan的带领下，始终积极响应国家“互联网+”战略的号召，从班级博客到班级网盘，从班级贴吧到微信群，不断地升级互联网社交生态，几乎是一直走在所有团支部的前列线上。</p><p>期间前赴后继地涌现出不少如QSY、CHY、WQY这样的社区优秀维护者，以及如ZYR、ZZY这样的优质内容提供者，他们的英雄事迹在<a href="https://tieba.baidu.com/p/1840363667" target="_blank">《黑历史》</a>中皆有描述，在此不一一列举。而同样值得赞扬的是广大同学的大力支持和参与，使201602保持了清奇而别致的画风，出现过以收集黑历史为己任的活宝HJY和XZQ，收集同学表情包的危险分子LZ和YYH，以及吉尼斯深潜记录保持者LTY。这样的情况在上外附中历史上是少见的。<br/></p>
      <p>然而我们必须认识到，<strong>时至今日出现过的绝大多数互联网服务，都有其商业局限性、大众导向性和社交风险性。</strong>无论是QQ、贴吧还是目前的微信，参与者或作为个人、或作为群体，都难以在长期单一的使用场景中寻找到个性化功能服务、个性化互动模式、和个性化情怀审美。举例而言，百度贴吧在用户界面（大量的无用空间）和内容选择（广告投放）上让人浑身难受，微信群聊+朋友圈的模式社交压力和密集程度过高，直接导致二者在<strong>小圈社交场景中向心凝聚力不足。</strong></p><p>因此，散伙进两年来维持201602圈内广域社交的，好像除了站队撕B，就是洛阳铲了。这对于一个立了 “永远不散” Flag 的群，真鸡儿丢人嘛～。其中原因，私以为个人恩怨占小头，低效社交和信息不对等占大头。毕竟老同学之间，似乎没有什么事情是一个coffee chat解决不了的吧。所以，本项目的唯一宗旨就在于服务小圈社交，以201602为群众基础，建立定制程度高、社交风险低的高逼格开si放bi平台。</p>
      <h2><a id="_7"></a>愿景：希望实现的操作</h2>
      <p>基于以上的项目宗旨，项目组提出在互动模式、定制化功能和个性化上进行开放式的整合和创新。“开放”的意思是以下所有内容都可以由201602的任何人以代码、设计、意见、建议、和吐槽的形式进行修改和完善。<br/><br/>
      <div style="padding-left:10px;">
      <h3 class="first">互动模式</h3>
      <p>愿景中的平台将包含单对全、单对多、多对单、多对多、单对单等多种互动模式。</p>
      <ul>
      <li>单对全：包括贴吧（论坛）形式、博文形式、“资源”形式等</li>
      <li>单对多：包括“吐槽”形式、“约吗”形式、群组形式</li>
      <li>多对单：包括生日祝福、“吐槽”形式</li>
      <li>多对多：包括相册形式、投票形式</li>
      <li>单对单：包括私聊形式</li>
    </ul>
      <h3>定制化功能</h3>
      <p>以下功能暂时将以从上到下的顺序进行设计和代码实现。同样，大家可以以代码、设计、意见、建议、和吐槽的形式对以下内容进行删减、完善、整合或实现。</p>
      <ul>
        <li>论坛功能：平台基础功能，借鉴百度贴吧等论坛的模式，进行主题化的讨论。</li>
        <li><u>约吗：向多人（你要单人也可以）发起邀请，组织活动。</u></li>
        <li>聊天：包括群组聊天和单人聊天。</li>
        <li>相册：公开的爆照，形式可能类似朋友圈和人人相册的结合。</li>
        <li>资源：类似网盘，也可发布告示。</li>
      </ul>
      <p>目前来看，从开发者的角度，对本项目功能方面的想象力是非常有限的，需要所有同学参与以实现“定制化”的目标。</p>
      <h3>个性化</h3>
      <p>
        归根结底，支撑本项目的是情怀，而情怀的体现最直观的是颜值。<strong>设计和用户体验在本项目中的优先级是最高的！</strong>设计和用户体验在本项目中的优先级是最高的！设计和用户体验在本项目中的优先级是最高的!
      </p>
      <p>
        然而萝卜青菜各有所爱，本项目在生命周期内一方面将不断推出新的界面主题供同学们选择，一方面将尽快开放样式修改，保证颜值和操作无尿点。
      </p>
      <h3>暂定时间表</h3>
      <p>
        2017.6.5 项目开工。<br/>
        2017.6.10 版本0.1.0上线，开放内测。<br/>
        2017.6.15 版本1.0.0上线，域名挂钩，开放公测，目标为基础功能无Bug，颜值可以承受。<br/>
        2017.6.20 版本1.1.0上线，推出主题皮肤、用户个人功能完善。<br/>
        2017.7.1 版本1.5.0上线，推出 “约吗” 公测、同时颜值达到无尿点。<br/>
        （待更新...）
      </p>
    </div>
      <h2><a id="_35"></a>前景：一起搞事！一起哈皮！</h2>
      <p>本项目将一直奉行开放的宗旨进行迭代。从发展策略、功能、设计、用户体验、资源、细节上开放所有201602成员讨论和吐槽。而细分一下，项目将需要以下几个方面有特殊技能的贡献者：</p>
      <ul>
      <li><strong>UI和视觉设计</strong><br>
      包括整体界面设计、风格统一、主题设计、个性化设计、字体等有见解的成员。技术栈可以是绘画、Photoshop、Illustrator、SAI、Flash、Sketch、CSS响应式设计等任何一种或多种。</li>
      <li><strong>代码实现</strong><br>
      只要你对编程有兴趣，善于钻研新技术，有做不完的事情：全栈MVC开发、前端JS框架、移动开发、服务器部署（说三遍）、数据库和网络安全等，都可以。</li>
      <li><strong>资源和内容</strong><br>
      你有表情包、你有好段子、你有好文章、你就是爸爸！</li>
      <li><strong>参与参与还是参与</strong><br>
      关注和参与是平台生命力唯一的基础。希望大家多用，多爆bug，多吐槽！</li>
      </ul>
      <p>最后，感谢目前本项目的所有贡献者：码农jjw、tpan ; 内容和视觉审核lyz、zzy、qsy、hht. 谢谢大家～</p>
  </div>
  </div>
</div>
