<% provide(:page_title, "FLAGS") %>
<% provide(:about_active, "highlighted") %>
<div class = "row text-center">
  <div class = "columns large-10 large-offset-1"style="padding-bottom:10px;">
    <h2 class="member-index-title">关于这个项目</h2>
    <p class="text-left about-text">
      铁吧是个好东西，每个班都应该有一个。
    </p>
  </div>
</div>
