<div class="row">
  <div class="colomns large-10 large-offset-1" style="margin-top:50px;">
    <div class="text-center">
      <h2 style="font-family:T-WenYue-XinQingNianTi-NC-W8"> 登陆</h2>
    </div>
    <%= render "session" %>
  </div>
</div>
