/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 @import "font-awesome";
 @charset "utf-8";
 @font-face {
	font-family: 'localsans-win-light';
	src: local('Microsoft YaHei Light'), local('Microsoft JhengHei');
}
@font-face {
	font-family: 'localsans-win';
	src: local('Microsoft YaHei');
}
@font-face {
	font-family: 'localsans-win-bold';
	font-weight: bold;
	src: local('Microsoft YaHei Bold'), local('Microsoft YaHei');
}
@font-face {
	font-family: 'localsans-mac-light';
	src: local('PingFangSC-Light'), local('HiraginoSansGB-W3');
}
@font-face {
	font-family: 'localsans-mac';
	src: local('PingFangSC-Regular'), local('HiraginoSansGB-W3');
}
@font-face {
	font-family: 'localsans-mac-bold';
	src: local('PingFangSC-Semibold'), local('HiraginoSansGB-W6');
}

@font-face {
	font-family: WyueLogo;
	src: local('â˜º'), font-url('/assets/WyueLogo.otf') format('opentype');
}

@font-face {
	font-family: T-AaFangMeng;
	src: local('â˜º'), font-url('/assets/AaFangMeng.otf') format('opentype');
}
@font-face {
	font-family: T-AaDonuts;
	src: local('â˜º'), font-url('/assets/AaDonuts.otf') format('opentype');
}
@font-face {
	font-family: T-WenYue-GuDianFangSongTi-THFT;
	src: local('â˜º'), font-url('/assets/WenYue-GuDianFangSongTi-THFT.otf') format('opentype');
}
@font-face {
	font-family: T-WenYue-HouXianDaiTi-W2-75;
	src: local('â˜º'), font-url('/assets/WenYue-HouXianDaiTi-W2-75.otf') format('opentype');
}
@font-face {
	font-family: T-WenYue-HouXianDaiTi-W4-75;
	src: local('â˜º'), font-url('/assets/WenYue-HouXianDaiTi-W4-75.otf') format('opentype');
}
@font-face {
	font-family: T-WenYue-XinQingNianTi-NC-W8;
	src: local('â˜º'), font-url('/assets/WenYue-XinQingNianTi-NC-W8.otf') format('opentype');
}
@font-face {
	font-family: T-WenYue-GuDianMingChaoTi;
	src: local('â˜º'), font-url('/assets/Title-WenYue-GuDianMingChaoTi.otf') format('opentype');
}
@font-face {
	font-family: T-WenYue-QingLongTi;
	src: local('â˜º'), font-url('Title-WenYue-QingLongTi.otf') format('opentype');
}
@font-face {
	font-family: T-WenYue-XinQingNianTi;
	src: local('â˜º'), font-url('/assets/Title-WenYue-XinQingNianTi.otf') format('opentype');
}
@font-face {
	font-family: T-WyueGutiFangsong;
	src: local('â˜º'), font-url('/assets/Title-WyueGutiFangsong.otf') format('opentype');
}
@font-face {
	font-family: T-TpldKhangXiDict;
	src: local('â˜º'), font-url('/assets/Title-TpldKhangXiDict.otf') format('opentype');
}
@font-face {
	font-family: T-TpldYiFengScripture;
	src: local('â˜º'), font-url('/assets/Title-TpldYiFengScripture.otf') format('opentype');
}
@font-face {
	font-family: FZZZHUNHJW;
	src: local('â˜º'), font-url('/assets/FZZZHUNHJW.TTF') format('truetype');
}
@font-face {
	font-family: T-TpldLehBienLehsho;
	src: local('â˜º'), font-url('/assets/Title-TpldLehBienLehsho.otf') format('opentype');
}
 @font-face {
   font-family: wenyue;
   src: local('â˜º'), font-url('/assets/wenyue.otf') format('opentype');
 }
 html{
   height:100%;
   width:100%;
 }

body{
  margin:0px;
  height:100%;
}

.top-bar{
  background-image:url("header.jpg");
  background-position:20px -70px;
  z-index: 1;
  padding-bottom: 20px;
  ul{
    background: none;
  }
}
.menu{
  box-shadow: 0 1px 3px rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.3);
  padding-left: 21%;
  li{
    font-size: 30px;
    a{
      color:black;
      font-family: T-WenYue-XinQingNianTi-NC-W8;
      color: #e0dfdc;
      letter-spacing: .1em;
      text-shadow: 0 2px 0 #2c2c2c, 0 2px 0 #282828, 0 1px 0 #262626, 0 1px 0 #242421, 0 4px 0 #222, 0 1px 0 #202020, 0 1px 0 #1e1e1e, 0 1px 0 #1c1c1c, 0 4px 0 #1a1a1a, 0 5px 0 #181818, 0 6px 0 #161616, 0 7px 0 #141414, 0 8px 0 #121212, 0 10px 10px rgba(0, 0, 0, 0.9)
    }
    a:hover{
      color:white;
      background: none;
    }
    .highlighted{
      color:crimson;
    }
    .highlighted:hover{
      color:crimson;
    }
  }
}

.header-image{
  box-shadow: 0 1px 3px rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.3);
  position: absolute;
  border: 5px solid white;
  left:10%;
  top:13%;
  height:200px;
  width:200px;
  z-index: 2;
  background-image:url("https://gss3.bdstatic.com/84oSdTum2Q5BphGlnYG/timg?wapp&quality=80&size=b150_150&subsize=20480&cut_x=0&cut_w=0&cut_y=0&cut_h=0&sec=1369815402&srctrace&di=fccb5254bfb970aebd9f6989f61449da&wh_rate=null&src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fpic%2Fitem%2F8b82b9014a90f6038377a6fb3f12b31bb151ed43.jpg");
  background-repeat: round;
  border-radius: 30px;
}

.cover-image{
  height:180px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  .tieba-title{
    font-family: T-WenYue-XinQingNianTi;
    margin-left: 22%;
    padding-top: 70px;
    h1{
      font-family: T-WenYue-XinQingNianTi-NC-W8;
      font-size: 65px;
      color:white;
      font-weight: 200;
      color: #e0dfdc;
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
    }
  }
}

.content-container{
  min-height: 100%;
  margin-top: -35px;
  z-index: -1;
  tr:nth-child(even){
    background-color: rgba(4, 148, 255, 0.21);
  }
  thead{
    background-color: rgba(4, 148, 255, 0.21);
  }
}

#title-table{
  width: 65%;
  font-size: 16px;
}
#reply-table{
  width: 20%;
  font-size: 16px;
}
#trend-table{
  font-size: 16px;
}

.post-index{
  padding: 8px 30px;
  a:hover{
    color:crimson;
  }
}
.reply-index{
  padding: 20px 20px;
}
.trend-index{
  text-align: center;
  font-size: 20px;
}

.registration-submit{
  input{
    height:60px;
    width:60px;
    border-radius: 50%;
    font-size: 30px;
    font-family: T-WenYue-XinQingNianTi-NC-W8;
    border: none;
    color: white;
    background-color: crimson;
      box-shadow: 0 1px 3px rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.3);
  }
  input:hover{
    height:65px;
    width:65px;
  }
  .new-button{
    height:60px;
    text-align: center;
    width:60px;
    border-radius: 50%;
    padding-top: 20px;
    font-size: 30px;
    font-family: T-WenYue-XinQingNianTi-NC-W8;
    border: none;
    color: white;
    background-color: crimson;
      box-shadow: 0 1px 3px rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.3);
  }
  .new-button:hover{
    height:65px;
    width:65px;
  }
}

.chat-box{
  background:#ECECEC;
  padding:0 20px;
  color:#a1a1a1;
}
.chat-box .message-box{
  padding:18px 0 10px;
  clear:both;
}
.message-box .picture{
  float:left;
  width:70px;
  display:block;
  padding-right:10px;
}
.picture img{
  width:55px;
  height:55px;
  border-radius:50%;
}
.picture span{
  font-weight:bold;
  font-size:12px;
  clear:both;
  display:block;
  text-align:center;
  margin-top:3px;
}
.message{
  background:#fff;
  display:inline-block;
  padding:13px;
  border-radius:2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  position:relative;
  min-height: 40px;
  max-width: 90%;
  min-width: 45%;
  p{
    margin:0;
  }
}
.message:before{
  content:"";
  position:absolute;
  display:block;
  left:0;
  border-right:6px solid #fff;
  border-top: 6px solid transparent;
  border-bottom:6px solid transparent;
  top:10px;
  margin-left:-6px;
}
.message span{
  color:#555;
  font-weight:bold;
}
.message p{
  padding-top:5px;
}
.message-box.right-img .picture{
  float:right;
  padding:0;
  padding-left:10px;
}
.message-box.right-img .picture img{
  float:right;
}
.message-box.right-img .message:before{
  left:100%;
  margin-right:6px;
  margin-left:0;
  border-right:6px solid transparent;
  border-left:6px solid #fff;
  border-top: 6px solid transparent;
  border-bottom:6px solid transparent;
}
.enter-message{
  padding:13px 0px;
}
.enter-message input{
  border:none;
  padding:10px 12px;
  background:#d3d3d3;
  width:260px;
  border-radius:2px;
}
.enter-message a.send{
  padding:10px 15px;
  background:#6294c2;
  border-radius:2px;
  float:right;
}
.right-img{
  .message{
    float:right;
  }
}

.post-title{
  background-color: crimson;
  min-height: 30px;
  text-align: center;
  padding: 10px;
  font-size: 25px;
  color: white;
  font-family: T-WenYue-XinQingNianTi-NC-W8;
}

.post-index-title{
  font-family: FZZZHUNHJW;
  padding-left: 72px;
  margin-top:2px;
  h5{
      font-family: FZZZHUNHJW;
  }
  p{
    font-family: FZZZHUNHJW;
    margin:0px;
  }
}

.post-index-content{
  margin-top: 10px;
  font-family: FZZZHUNHJW;
}

.post-avatar{
  img{
    border-radius: 50%;
    height:55px;
    width:55px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.3);
  }
  float: left;
}

.reply-avatar{
  img{
    border-radius: 50%;
    height:40px;
    width:40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.3);
  }
  float: left;
  margin-top:6px;
}

.reply-latest{
  padding-left: 55px;
  p{
    margin:0px;
  }
}
.reveal{
  width:80%;
  height:70%;
  padding: 45px;
  border-radius: 20px;
  border:none;
}
.reveal-title{
  font-family: T-WenYue-XinQingNianTi-NC-W8;
  font-size: 45px;
  text-align: center;
  padding:30px;
}
