<div class="top-bar">
  <div class="cover-image">
    <div class="tieba-title">
      <h1>SFLS201602均匀加热</h1>
    </div>
  </div>
  <ul class="menu">
    <li><a href="#" style="font-family: T-WenYue-XinQingNianTi-NC-W8;">看贴</a></li>
    <li><a href="#">精品</a></li>
    <li><a href="#">相册</a></li>
    <li><a href="#">成员</a></li>
  </ul>
  <div class="header-image">

  </div>
</div>
